.App {
  text-align: center;
}

.logInButton{
}

table {
  margin-top: 350px;
    border-collapse: collapse;
    width: 35%;
}

.loginForm{
  margin-top: 50px;
}

#card
{
  background: #000000;
  color: black;
}

#productbacklog
{
  left:.3%;
}

#inprogress
{
  left:60.3%;
}

#todo
{
  left:40.3%;
}

#done
{
  left:80.3%;
}

#scrumbacklog
{
  left:20.3%;
}

#title
{
  background-color:#000000;
  text-align:center;
  color:white;
  padding: 2px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#todo, #inprogress, #done, #productbacklog, #scrumbacklog
{
  position:absolute;
  width: 19.6%;
  min-height:75%;
  border: 2px solid black;
  outline: 0;
  background: #f2f2f2;
  box-sizing: border-box;
  border-radius: 15px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #EEEEEE}

button:hover {background-color: #61DAFB;
color: #000000}

.textStuff{
    font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 14%;
  border: 0;
  margin: 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 30%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 30%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-black {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-red {
  background-color: #DC143C;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-blue {
  background-color: #0000FF;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-green {
  background-color: #228B22;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-purple {
  background-color: #8B008B;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-orange {
  background-color: #FF4500;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header-beige {
  background-color: #F5F5DC;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
